In [1]:
from functools import reduce

x = [2,3,4,5,6]

print ('By using Reduce function sum is : ',reduce(lambda a,b : a+b,x))

print('\n')

# WITHOUT REDUCE FUNCTION

def reduced(x):
    
    n = len(x)
    
    total = 0
    for i in range (0,n):
        total += x[i]

    return total

x = [2,3,4,5,6]
print("The sum without using reduce function is :  ",reduced(x))

By using Reduce function sum is :  20


The sum without using reduce function is :   20

In [2]:
y = [23,42,54,254,52,234]

# This will only return even numbers and filter out odd numbers 

list(filter(lambda x:x % 2 == 0,y))

[42, 54, 254, 52, 234]

In [3]:
y = [23,42,54,254,52,234]
  
 
even_num = [num for num in y if num % 2 == 0] 
  
print(even_num)

[42, 54, 254, 52, 234]

In [4]:
lst=["x", "y", "z"]

print([i*j for i in lst for j in range(1, 5)])

print([x*i for x in range(1, 5) for i in lst])

print([[j] for i in range(2, 5) for j in range(i, i+3)])

print([[i+j for i in range(0, 4)] for j in range(2, 6)])

print([(j, i) for i in range(1, 4) for j in range(1, 4)])

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]